<?xml version="1.0"?>
<config>
    <global>
        <models>
            <hackathon_gridcontrol>
                <class>Hackathon_GridControl_Model</class>
            </hackathon_gridcontrol>
        </models>

        <helpers>
            <hackathon_gridcontrol>
                <class>Hackathon_GridControl_Helper</class>
            </hackathon_gridcontrol>
        </helpers>
    </global>

    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <hackathon_gridcontrol>
                        <type>singleton</type>
                        <class>hackathon_gridcontrol/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </hackathon_gridcontrol>
                </observers>
            </adminhtml_block_html_before>

            <eav_collection_abstract_load_before>
                <observers>
                    <hackathon_gridcontrol>
                        <type>singleton</type>
                        <class>hackathon_gridcontrol/observer</class>
                        <method>eavCollectionAbstractLoadBefore</method>
                    </hackathon_gridcontrol>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>